#wpd {
	font-family: helvetica, verdana, sans-serif;
	font-size: 14px;
}
form#wpd-form {
}

form#wpd-form input[type="text"] {
	width: 500px;
}

form#wpd-form div {
	clear: both;
}

form#wpd-form .wpd-column {
	width: 30%;
	padding: 5px 10px 10px 10px;
	float: left;
	clear: none;
}

form#wpd-form .wpd-column p {
	height: 2.3em;
}



form#wpd-output {
}

form#wpd-output textarea {
	width: 900px;
	height: 600px;
	min-height: 600px;
}